# Node modules
node_modules/



# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Users file (IMPORTANT - hide passwords)
users.json

# Build output
apps/backend/dist
apps/frontend/dist

# Node modules
apps/backend/node_modules
apps/frontend/node_modules
